<?xml version="1.0" encoding="UTF-8"?>
<project name="springgradle" default="all">
  
  
  <property file="springgradle.properties"/>
  <!-- Uncomment the following property if no tests compilation is needed -->
  <!-- 
  <property name="skip.tests" value="true"/>
   -->
  
  <!-- Compiler options -->
  
  <property name="compiler.debug" value="on"/>
  <property name="compiler.generate.no.warnings" value="off"/>
  <property name="compiler.args" value=""/>
  <property name="compiler.max.memory" value="700m"/>
  <patternset id="ignored.files">
    <exclude name="**/*.hprof/**"/>
    <exclude name="**/*.pyc/**"/>
    <exclude name="**/*.pyo/**"/>
    <exclude name="**/*.rbc/**"/>
    <exclude name="**/*.yarb/**"/>
    <exclude name="**/*~/**"/>
    <exclude name="**/.DS_Store/**"/>
    <exclude name="**/.git/**"/>
    <exclude name="**/.hg/**"/>
    <exclude name="**/.svn/**"/>
    <exclude name="**/CVS/**"/>
    <exclude name="**/__pycache__/**"/>
    <exclude name="**/_svn/**"/>
    <exclude name="**/vssver.scc/**"/>
    <exclude name="**/vssver2.scc/**"/>
  </patternset>
  <patternset id="library.patterns">
    <include name="*.war"/>
    <include name="*.swc"/>
    <include name="*.zip"/>
    <include name="*.egg"/>
    <include name="*.ane"/>
    <include name="*.jar"/>
    <include name="*.ear"/>
    <include name="*.klib"/>
  </patternset>
  <patternset id="compiler.resources">
    <exclude name="**/?*.java"/>
    <exclude name="**/?*.form"/>
    <exclude name="**/?*.class"/>
    <exclude name="**/?*.groovy"/>
    <exclude name="**/?*.scala"/>
    <exclude name="**/?*.flex"/>
    <exclude name="**/?*.kt"/>
    <exclude name="**/?*.clj"/>
    <exclude name="**/?*.aj"/>
  </patternset>
  
  <!-- JDK definitions -->
  
  <property name="jdk.bin.11" value="${jdk.home.11}/bin"/>
  <path id="jdk.classpath.11">
    <fileset dir="${jdk.home.11}">
      <include name="../jbr!/java.base"/>
      <include name="../jbr!/java.compiler"/>
      <include name="../jbr!/java.datatransfer"/>
      <include name="../jbr!/java.desktop"/>
      <include name="../jbr!/java.instrument"/>
      <include name="../jbr!/java.logging"/>
      <include name="../jbr!/java.management"/>
      <include name="../jbr!/java.management.rmi"/>
      <include name="../jbr!/java.naming"/>
      <include name="../jbr!/java.net.http"/>
      <include name="../jbr!/java.prefs"/>
      <include name="../jbr!/java.rmi"/>
      <include name="../jbr!/java.scripting"/>
      <include name="../jbr!/java.se"/>
      <include name="../jbr!/java.security.jgss"/>
      <include name="../jbr!/java.security.sasl"/>
      <include name="../jbr!/java.smartcardio"/>
      <include name="../jbr!/java.sql"/>
      <include name="../jbr!/java.sql.rowset"/>
      <include name="../jbr!/java.transaction.xa"/>
      <include name="../jbr!/java.xml"/>
      <include name="../jbr!/java.xml.crypto"/>
      <include name="../jbr!/javafx.base"/>
      <include name="../jbr!/javafx.controls"/>
      <include name="../jbr!/javafx.fxml"/>
      <include name="../jbr!/javafx.graphics"/>
      <include name="../jbr!/javafx.media"/>
      <include name="../jbr!/javafx.swing"/>
      <include name="../jbr!/javafx.web"/>
      <include name="../jbr!/jdk.accessibility"/>
      <include name="../jbr!/jdk.aot"/>
      <include name="../jbr!/jdk.attach"/>
      <include name="../jbr!/jdk.charsets"/>
      <include name="../jbr!/jdk.compiler"/>
      <include name="../jbr!/jdk.crypto.cryptoki"/>
      <include name="../jbr!/jdk.crypto.ec"/>
      <include name="../jbr!/jdk.dynalink"/>
      <include name="../jbr!/jdk.httpserver"/>
      <include name="../jbr!/jdk.internal.ed"/>
      <include name="../jbr!/jdk.internal.jvmstat"/>
      <include name="../jbr!/jdk.internal.le"/>
      <include name="../jbr!/jdk.internal.vm.ci"/>
      <include name="../jbr!/jdk.internal.vm.compiler"/>
      <include name="../jbr!/jdk.internal.vm.compiler.management"/>
      <include name="../jbr!/jdk.jdi"/>
      <include name="../jbr!/jdk.jdwp.agent"/>
      <include name="../jbr!/jdk.jfr"/>
      <include name="../jbr!/jdk.jsobject"/>
      <include name="../jbr!/jdk.localedata"/>
      <include name="../jbr!/jdk.management"/>
      <include name="../jbr!/jdk.management.agent"/>
      <include name="../jbr!/jdk.management.jfr"/>
      <include name="../jbr!/jdk.naming.dns"/>
      <include name="../jbr!/jdk.naming.rmi"/>
      <include name="../jbr!/jdk.net"/>
      <include name="../jbr!/jdk.pack"/>
      <include name="../jbr!/jdk.scripting.nashorn"/>
      <include name="../jbr!/jdk.scripting.nashorn.shell"/>
      <include name="../jbr!/jdk.sctp"/>
      <include name="../jbr!/jdk.security.auth"/>
      <include name="../jbr!/jdk.security.jgss"/>
      <include name="../jbr!/jdk.unsupported"/>
      <include name="../jbr!/jdk.xml.dom"/>
      <include name="../jbr!/jdk.zipfs"/>
    </fileset>
  </path>
  
  <property name="project.jdk.home" value="${jdk.home.11}"/>
  <property name="project.jdk.bin" value="${jdk.bin.11}"/>
  <property name="project.jdk.classpath" value="jdk.classpath.11"/>
  
  
  <!-- Project Libraries -->
  
  <path id="library.gradle:_ch.qos.logback:logback-classic:1.2.3.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-classic/1.2.3/7c4f3c474fb2c041d8028740440937705ebb473a/logback-classic-1.2.3.jar"/>
  </path>
  
  <path id="library.gradle:_ch.qos.logback:logback-core:1.2.3.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-core/1.2.3/864344400c3d4d92dfeb0a305dc87d953677c03c/logback-core-1.2.3.jar"/>
  </path>
  
  <path id="library.gradle:_com.fasterxml.jackson.core:jackson-annotations:2.9.10.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.core/jackson-annotations/2.9.10/53ab2f0f92e87ea4874c8c6997335c211d81e636/jackson-annotations-2.9.10.jar"/>
  </path>
  
  <path id="library.gradle:_com.fasterxml.jackson.core:jackson-core:2.9.10.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.core/jackson-core/2.9.10/66b715dec9dd8b0f39f3296e67e05913bf422d0c/jackson-core-2.9.10.jar"/>
  </path>
  
  <path id="library.gradle:_com.fasterxml.jackson.core:jackson-databind:2.9.10.1.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.core/jackson-databind/2.9.10.1/cadb5d93d16151946468cd1a2e96f41bc7d4e198/jackson-databind-2.9.10.1.jar"/>
  </path>
  
  <path id="library.gradle:_com.fasterxml.jackson.datatype:jackson-datatype-jdk8:2.9.10.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.datatype/jackson-datatype-jdk8/2.9.10/6aa764caf0a275d98b8765f6687bd4ec6c8cb9eb/jackson-datatype-jdk8-2.9.10.jar"/>
  </path>
  
  <path id="library.gradle:_com.fasterxml.jackson.datatype:jackson-datatype-jsr310:2.9.10.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.datatype/jackson-datatype-jsr310/2.9.10/bf7ea35ca4fafa385701580163ef983622e0bfb1/jackson-datatype-jsr310-2.9.10.jar"/>
  </path>
  
  <path id="library.gradle:_com.fasterxml.jackson.module:jackson-module-parameter-names:2.9.10.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.module/jackson-module-parameter-names/2.9.10/dc8c36832c229df0209dfc98fab5be36cb99af5f/jackson-module-parameter-names-2.9.10.jar"/>
  </path>
  
  <path id="library.gradle:_com.fasterxml:classmate:1.4.0.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/com.fasterxml/classmate/1.4.0/291658ac2ce2476256c7115943652c0accb5c857/classmate-1.4.0.jar"/>
  </path>
  
  <path id="library.gradle:_com.jayway.jsonpath:json-path:2.4.0.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/com.jayway.jsonpath/json-path/2.4.0/765a4401ceb2dc8d40553c2075eb80a8fa35c2ae/json-path-2.4.0.jar"/>
  </path>
  
  <path id="library.gradle:_com.vaadin.external.google:android-json:0.0.20131108.vaadin1.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/com.vaadin.external.google/android-json/0.0.20131108.vaadin1/fa26d351fe62a6a17f5cda1287c1c6110dec413f/android-json-0.0.20131108.vaadin1.jar"/>
  </path>
  
  <path id="library.gradle:_javax.annotation:javax.annotation-api:1.3.2.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/javax.annotation/javax.annotation-api/1.3.2/934c04d3cfef185a8008e7bf34331b79730a9d43/javax.annotation-api-1.3.2.jar"/>
  </path>
  
  <path id="library.gradle:_javax.validation:validation-api:2.0.1.final.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/javax.validation/validation-api/2.0.1.Final/cb855558e6271b1b32e716d24cb85c7f583ce09e/validation-api-2.0.1.Final.jar"/>
  </path>
  
  <path id="library.gradle:_junit:junit:4.12.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/junit/junit/4.12/2973d150c0dc1fefe998f834810d68f278ea58ec/junit-4.12.jar"/>
  </path>
  
  <path id="library.gradle:_net.bytebuddy:byte-buddy-agent:1.9.16.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/net.bytebuddy/byte-buddy-agent/1.9.16/fd213511a0a845632456f636e576d24c2d6ac3bc/byte-buddy-agent-1.9.16.jar"/>
  </path>
  
  <path id="library.gradle:_net.bytebuddy:byte-buddy:1.9.16.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/net.bytebuddy/byte-buddy/1.9.16/e7d63009be7b87ff1f15b72e5b8c59c897a8d8bd/byte-buddy-1.9.16.jar"/>
  </path>
  
  <path id="library.gradle:_net.minidev:accessors-smart:1.2.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/net.minidev/accessors-smart/1.2/c592b500269bfde36096641b01238a8350f8aa31/accessors-smart-1.2.jar"/>
  </path>
  
  <path id="library.gradle:_net.minidev:json-smart:2.3.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/net.minidev/json-smart/2.3/7396407491352ce4fa30de92efb158adb76b5b/json-smart-2.3.jar"/>
  </path>
  
  <path id="library.gradle:_org.apache.logging.log4j:log4j-api:2.11.2.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.apache.logging.log4j/log4j-api/2.11.2/f5e9a2ffca496057d6891a3de65128efc636e26e/log4j-api-2.11.2.jar"/>
  </path>
  
  <path id="library.gradle:_org.apache.logging.log4j:log4j-to-slf4j:2.11.2.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.apache.logging.log4j/log4j-to-slf4j/2.11.2/6d37bf7b046c0ce2669f26b99365a2cfa45c4c18/log4j-to-slf4j-2.11.2.jar"/>
  </path>
  
  <path id="library.gradle:_org.apache.tomcat.embed:tomcat-embed-core:9.0.29.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-core/9.0.29/207dc9ca4215853d96ed695862f9873001f02a4b/tomcat-embed-core-9.0.29.jar"/>
  </path>
  
  <path id="library.gradle:_org.apache.tomcat.embed:tomcat-embed-el:9.0.29.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-el/9.0.29/3c1186083cb613c18949ffac21d856ecf8cdfd13/tomcat-embed-el-9.0.29.jar"/>
  </path>
  
  <path id="library.gradle:_org.apache.tomcat.embed:tomcat-embed-websocket:9.0.29.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-websocket/9.0.29/57a550a531648dd665444f11d45c352a6978c7b6/tomcat-embed-websocket-9.0.29.jar"/>
  </path>
  
  <path id="library.gradle:_org.assertj:assertj-core:3.11.1.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.assertj/assertj-core/3.11.1/fdac3217b804d6900fa3650f17b5cb48e620b140/assertj-core-3.11.1.jar"/>
  </path>
  
  <path id="library.gradle:_org.hamcrest:hamcrest-core:1.3.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.hamcrest/hamcrest-core/1.3/42a25dc3219429f0e5d060061f71acb49bf010a0/hamcrest-core-1.3.jar"/>
  </path>
  
  <path id="library.gradle:_org.hamcrest:hamcrest-library:1.3.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.hamcrest/hamcrest-library/1.3/4785a3c21320980282f9f33d0d1264a69040538f/hamcrest-library-1.3.jar"/>
  </path>
  
  <path id="library.gradle:_org.hibernate.validator:hibernate-validator:6.0.18.final.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.hibernate.validator/hibernate-validator/6.0.18.Final/7fd00bcd87e14b6ba66279282ef15efa30dd2492/hibernate-validator-6.0.18.Final.jar"/>
  </path>
  
  <path id="library.gradle:_org.jboss.logging:jboss-logging:3.3.3.final.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.jboss.logging/jboss-logging/3.3.3.Final/d3cfa8d3075fd52884fc82ded5c52b1407f18e6e/jboss-logging-3.3.3.Final.jar"/>
  </path>
  
  <path id="library.gradle:_org.mockito:mockito-core:2.23.4.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.mockito/mockito-core/2.23.4/a35b6f8ffcfa786771eac7d7d903429e790fdf3f/mockito-core-2.23.4.jar"/>
  </path>
  
  <path id="library.gradle:_org.objenesis:objenesis:2.6.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.objenesis/objenesis/2.6/639033469776fd37c08358c6b92a4761feb2af4b/objenesis-2.6.jar"/>
  </path>
  
  <path id="library.gradle:_org.ow2.asm:asm:5.0.4.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.ow2.asm/asm/5.0.4/da08b8cce7bbf903602a25a3a163ae252435795/asm-5.0.4.jar"/>
  </path>
  
  <path id="library.gradle:_org.skyscreamer:jsonassert:1.5.0.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.skyscreamer/jsonassert/1.5.0/6c9d5fe2f59da598d9aefc1cfc6528ff3cf32df3/jsonassert-1.5.0.jar"/>
  </path>
  
  <path id="library.gradle:_org.slf4j:jul-to-slf4j:1.7.29.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.slf4j/jul-to-slf4j/1.7.29/f58dd9d8c15a1141a48de53d2d6b723ae6cf18d6/jul-to-slf4j-1.7.29.jar"/>
  </path>
  
  <path id="library.gradle:_org.slf4j:slf4j-api:1.7.29.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.slf4j/slf4j-api/1.7.29/e56bf4473a4c6b71c7dd397a833dce86d1993d9d/slf4j-api-1.7.29.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework.boot:spring-boot-autoconfigure:2.1.11.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-autoconfigure/2.1.11.RELEASE/e02c91e83f3edd178abeeac9f02ee7f120a86aab/spring-boot-autoconfigure-2.1.11.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework.boot:spring-boot-devtools:2.1.11.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-devtools/2.1.11.RELEASE/e29e440d67849f2dd70cd6237b1be4674fb91c3/spring-boot-devtools-2.1.11.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework.boot:spring-boot-starter-json:2.1.11.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-json/2.1.11.RELEASE/94381e4c943593ef952014592585f864780a4f71/spring-boot-starter-json-2.1.11.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework.boot:spring-boot-starter-logging:2.1.11.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-logging/2.1.11.RELEASE/24c1480ee5f35bec25c8ca023d0fb8280f59dd58/spring-boot-starter-logging-2.1.11.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework.boot:spring-boot-starter-test:2.1.11.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-test/2.1.11.RELEASE/70659b6b71472f113fe36bf2811602871a0eb648/spring-boot-starter-test-2.1.11.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework.boot:spring-boot-starter-tomcat:2.1.11.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-tomcat/2.1.11.RELEASE/88a19488f985eb6f2fbc49ab8b68b5b73d1d381a/spring-boot-starter-tomcat-2.1.11.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework.boot:spring-boot-starter-web:2.1.11.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-web/2.1.11.RELEASE/2a1acc52e654cf273552d551b26b3c4f28a42e7e/spring-boot-starter-web-2.1.11.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework.boot:spring-boot-starter:2.1.11.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter/2.1.11.RELEASE/b8e1c042f5b4044c01da4c50ddf543c7fd6d1e6d/spring-boot-starter-2.1.11.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework.boot:spring-boot-test-autoconfigure:2.1.11.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-test-autoconfigure/2.1.11.RELEASE/3aff7e0a4a83daecf32671e7a92f850353b249aa/spring-boot-test-autoconfigure-2.1.11.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework.boot:spring-boot-test:2.1.11.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-test/2.1.11.RELEASE/2b0834d04a7fca492ced72ee16a727c538286aa8/spring-boot-test-2.1.11.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework.boot:spring-boot:2.1.11.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot/2.1.11.RELEASE/54278c590ca7e373ccf3fe5d6f5d09192baab75d/spring-boot-2.1.11.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-aop:5.1.12.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-aop/5.1.12.RELEASE/9c569c3481609b71e2fe1a53093b235d95b6a77e/spring-aop-5.1.12.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-beans:5.1.12.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-beans/5.1.12.RELEASE/e653a9892589fa757f8454af9ee9e82acf8e250e/spring-beans-5.1.12.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-context:5.1.12.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-context/5.1.12.RELEASE/fc4df1fa5f7597341f690b1a39387c4c09d18396/spring-context-5.1.12.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-core:5.1.12.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-core/5.1.12.RELEASE/b416b652d216d8b99f7f68d1b79e857cf935eaa/spring-core-5.1.12.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-expression:5.1.12.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-expression/5.1.12.RELEASE/789db315684fa28b06e84b04c0054ec59bf9c0c1/spring-expression-5.1.12.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-jcl:5.1.12.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-jcl/5.1.12.RELEASE/ca14bf5d9af347de62af34c61d0ddd2c4413999/spring-jcl-5.1.12.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-test:5.1.12.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-test/5.1.12.RELEASE/36256cb3728c8d30d92d1167924facddc4b3bed0/spring-test-5.1.12.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-web:5.1.12.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-web/5.1.12.RELEASE/7c3ef7feec13ed0499306e0228b96e6868db0dca/spring-web-5.1.12.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-webmvc:5.1.12.release.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-webmvc/5.1.12.RELEASE/e5cf986607a703bec0d615a32f9ac8ad079ec0c8/spring-webmvc-5.1.12.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.xmlunit:xmlunit-core:2.6.3.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.xmlunit/xmlunit-core/2.6.3/cdb208320aed4a7b94fb236cfbf91aeb6d0ede14/xmlunit-core-2.6.3.jar"/>
  </path>
  
  <path id="library.gradle:_org.yaml:snakeyaml:1.23.classpath">
    <pathelement location="${basedir}/../../../../.gradle/caches/modules-2/files-2.1/org.yaml/snakeyaml/1.23/ec62d74fe50689c28c0ff5b35d3aebcaa8b5be68/snakeyaml-1.23.jar"/>
  </path>
  <!-- Register Custom Compiler Taskdefs -->
  <property name="javac2.home" value="${idea.home}/lib"/>
  <path id="javac2.classpath">
    <fileset dir="${javac2.home}">
      <include name="javac2.jar"/>
      <include name="jdom.jar"/>
      <include name="asm-all*.jar"/>
      <include name="forms-*.jar"/>
    </fileset>
  </path>
  <target name="register.custom.compilers">
    <taskdef name="javac2" classname="com.intellij.ant.Javac2" classpathref="javac2.classpath"/>
    <taskdef name="instrumentIdeaExtensions" classname="com.intellij.ant.InstrumentIdeaExtensions" classpathref="javac2.classpath"/>
  </target>
  
  <!-- Modules -->
  
  <import file="${basedir}/.idea/modules/module_springgradle.xml"/>
  
  <import file="${basedir}/.idea/modules/module_springgradle.main.xml"/>
  
  <import file="${basedir}/.idea/modules/module_springgradle.test.xml"/>
  
  <target name="init" description="Build initialization">
    <!-- Perform any build initialization in this target -->
  </target>
  
  <target name="clean" depends="clean.module.springgradle, clean.module.springgradle.main, clean.module.springgradle.test" description="cleanup all"/>
  
  <target name="build.modules" depends="init, clean, compile.module.springgradle, compile.module.springgradle.main, compile.module.springgradle.test" description="build all modules"/>
  
  <target name="all" depends="build.modules" description="build all"/>
</project>